img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.om_os{
  background-color: #303249;
  display: grid;
  grid-template-rows: 1fr 0.2fr;
  min-height: 70vh;
}

.element1 {
  padding: 2rem 2rem 2rem 2rem;
  display: grid;
}

.p_om, .h1_om {
  color: #e6dcd4;
}

@media (min-width: 800px) {
  .om_os {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  .element1 {
    grid-column: 1/2;
    padding: 2rem 2rem 2rem 2rem;
  }

} 
