img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  background-color: #303249;
}

.element1 {
  padding-top: 20px;
}

.p_om {
  color: #e6dcd4;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.6;
}

.h1_om {
  padding-bottom: 2rem;
  padding-left: 1rem;
  font-weight: bold;
  color: #e6dcd4;
}

@media (min-width: 599px) {
  .om_os {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
}
