* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}
html {
  --ptag-beige: #e6dcd4;
  --ptag-grey: #9c9795;
  --ptag-blue: #303249;
  --button-blue: #536890;
}

.toggle-btn {
  display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  color: black;
  padding-left: 1rem;
  order: -1;
}


header {
  background-color: #e6dcd4;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.menu {
  display: contents;
}

.menu ul {
  display: none; /* Fjern menu-listen som standard */
  color: var(--ptag-blue);
}

.menu li a {
  transition: all 0.3s ease 0s;
}
.menu ul li a {
  text-transform: uppercase;
}
.menu li a:hover {
  color: white;
}

.menu.shown ul {
  /* Vis menu-listen, når klassen ".shown" er til stede */
  list-style: none;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
  background-color: lightgrey;
  padding: 1rem;
}
.logo_web img {
  display: none;
}
.logo_mob {
  justify-content: center;
  align-items: center;
  display: flex;
}
.logo_mob img {
  width: 50%;
  align-self: center;
}
@font-face {
  font-family: overskriftFont;
  src: url(/fonte/dancingscript-variablefont_wght-webfont.woff2);
}
@font-face {
  font-family: paragrafFont;
  src: url(/fonte/josefinsans-variablefont_wght-webfont.woff2);
}
h1 {
  font-size: 2.2em;
  font-family: overskriftFont;
}
h2 {
  font-size: 1.7em;
  font-family: paragrafFont;
  color: var(--ptag-blue);
}
h3,
address,
p {
  font-size: 1.3em;
  font-family: paragrafFont;
  color: var(--ptag-blue);
}
a {
  font-family: paragrafFont;
  color: #303249;
  font-weight: 700;
}
button {
  font-size: 4em;
  font-family: paragrafFont;
}
a.current {
 text-decoration: underline 1px solid var(--ptag-blue);
}

@media (min-width: 768px) {
  header {
    background-color: #e6dcd4;
    position: sticky;
    top: 0;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e6dcd4;
    justify-content: center;
  }
  header nav ul {
    gap: 50px;
    font-size: 120%;
  }
  .menu ul li {
    display: inline;
  }
  .logo_mob img {
    display: none;
  }
  .logo_web img {
    display: block;
    width: 120px;
    margin: 0.5rem 0 0.5rem 0;
  }
  .toggle-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
  }
  .col {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (min-width: 900px) {
  header nav ul {
    gap: 100px;
  }
  .col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (min-width: 900px) {
  header nav ul {
    gap: 100px;
  }
  .footer_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* footer */

footer {
  padding: 30px 20px;
  background-color: #F7F3F1;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer_container {
  max-width: 1200px;
  margin: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.col {
  width: 100%;
  margin-bottom: 30px;
  line-height: 1.4;
}

.col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #e6dcd4;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--ptag-blue);
  transition: all 0.5s ease;
}

.col .social-links a:hover {
  color: var(--button-blue);
  background-color: #ffffff;
}

.smiley {
  text-decoration: underline;
}

.h2_footer {
  font-weight: bold;
  padding-bottom: 1rem;
}
