
main img {
    max-width: 100%;
}
.splash {
    background-image:url(/img/billede23.webp);
    background-size: cover;
    aspect-ratio: 16/9;
    background-position: 25% 70%;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.box{
  background-color: rgba(196, 194, 194, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 60%;
  gap: 3rem;
}

.box img{
    max-width: 75%;
}

.quote {
    background-color: rgba(211, 211, 211, 0.201);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote h1{
    font-size: 200%;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}


.button{
    background-color: var(--button-blue);
    color: var(--ptag-beige);
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}
a:hover {
    color: white;
  }

.hide{
    display: none;
}
.foto_space {
    display: none;
}
.foto_bottum{
    display: none;
}

@media (min-width: 422px){
   
    .splash{
        height: 90vh;
    }
}
@media (min-width:600px) {
    .gallery{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media (min-width:768px) {
    .hide{
        display: grid;
    }
    .foto_space {
        margin-bottom: 15px;
        display: grid;
    }
    .foto_bottum{
        align-self: end;
        display: grid;
    }
    .gallery{
        gap: 15px;
        margin: 15px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        
    }

    .box{
        height: 60%;
        width: 50%;
    }

}
@media (min-width: 877px){
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .quote h1{
        font-size: 300%;
    }
    .box{
        height: 60%;
        width: 40%;
    }
   
    .box img{
        max-width: 75%;
    }
}
@media (min-width: 1077px){
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .box{
        height: 60%;
        width: 30%;
    }

}
@media (min-width: 1277px){
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}

  