* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

/* Mobile first */
.grid_1-1 {
  display: grid;
}

.col_img1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/billede18.webp);
  background-size: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 50/50;
  background-position: 50%;
}

.col_img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/billede21.webp);
  background-size: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 50/50;
  background-position: 50%;
}

.col_img3 {
  background-image: url(../img/billede2.webp);
  background-size: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 100/30;
  background-position: 50%;
}

.col_img4 {
  background-image: url(../img/billede20.webp);
  background-size: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 100/30;
  background-position: 50%;
}

#lunch,
#dinner {
  color: var(--ptag-beige);
  background-color: var(--button-blue);
  width: 250px;
  height: 100px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
}

/* body {
  overflow: hidden;
} */

#popup-lunch,
#popup-dinner {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-color: black;
  display: none;
}

#scroll {
  overflow: scroll;
}

#popup-lunch article {
  width: 100%;
  background-color: var(--ptag-grey);
  justify-content: center;
  align-items: center;
}

#popup-dinner article {
  width: 100%;
  background-color: var(--ptag-grey);
  justify-content: center;
  align-items: center;
}

#luk,
#luk1 {
  position: fixed;
  padding: 1em;
  cursor: pointer;
  color: black;
  font-weight: bolder;
  font-size: 1.7em;
}

.overskrift {
  text-align: center;
  font-size: 4em;
  padding: 30px;
}

.mainingredient1 {
  text-align: center;
  line-height: 1.5;
  padding-top: 10px;
}

.description1 {
  text-align: center;
  line-height: 1.5;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
}

.price1 {
  text-align: center;
  line-height: 1.5;
}

@media (min-width: 1000px) {
  .grid_1-1 {
    grid-template-columns: 1fr 1fr;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .overskrift {
    text-align: center;
    font-size: 5em;
    padding: 20px;
    grid-column: 2;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .mainingredient1 {
    text-align: start;
    margin-left: 10%;
  }

  .description1 {
    text-align: start;
  }

  .price1 {
    text-align: center;
  }
}
