button{
    border: 1px solid black;
    margin: 1rem 0;
    cursor: pointer;
}

.drink-type{
    display: grid;
    margin: 3rem 0 3rem 0;
}

.drink-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* margin-top: 2rem; */
}

#drink-holder{
    margin: 0 5rem 0 5rem;
}

.drink-price{
    text-align: end;
}